#slideshow {
    &> div {
        position: relative;
        top: 0px;
        left: 0px;
        min-height: 300px;
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        // border-bottom: solid 50px white;
    }
    .slidetext {
        h2 {
            margin-top: 0.5rem;
            font-size: 1.5rem;
        }    
        padding: 2.5rem;
        position: absolute;
        width: 30%;
        bottom: 0;
        max-width: 450px;
        min-width: 200px;
        background-color: yellow;
        // bottom: -50px;
        height: auto;
        left: 0;
        z-index: 1000;
        font-size: 1.5rem;
    }
    margin: 0px auto;
    width: 100%;
    height: 300px;
    min-height: 300px;
    position: relative;
  }
  
  .menu-modal.active {
      z-index: 1001;
  }


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  
    #slideshow {
        &> div {
            border-bottom: 5rem solid #fff;
        }
        .slidetext {
            bottom: -5rem;
            left: 5%;
        }
        
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    #slideshow {
        &> div {
            min-height: 400px;
            height: 400px;    
        }
        .slidetext {
            h2 {
                font-size: 2rem;
            }
            font-size: 1.7rem;
        }
        height: 400px;
        min-height: 400px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
    #slideshow {
        &> div {
            min-height: 500px;
            height: 500px;    
        }
        .slidetext {
            h2 {
                font-size: 2.5rem;
            }
            font-size: 2rem;
        }
        height: 500px;
        min-height: 500px;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    #slideshow {
        &> div {
            min-height: 700px;
            height: 700px;    
        }
        .slidetext {
            h2 {
                font-size: 3.5rem;
            }
            font-size: 2.5rem;
        }
        height: 700px;
        min-height: 700px;
    }

 }