/* line 1, sass/zooslides.scss */
#slideshow {
  margin: 0px auto;
  width: 100%;
  height: 300px;
  min-height: 300px;
  position: relative;
}
/* line 2, sass/zooslides.scss */
#slideshow > div {
  position: relative;
  top: 0px;
  left: 0px;
  min-height: 300px;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 14, sass/zooslides.scss */
#slideshow .slidetext {
  padding: 2.5rem;
  position: absolute;
  width: 30%;
  bottom: 0;
  max-width: 450px;
  min-width: 200px;
  background-color: yellow;
  height: auto;
  left: 0;
  z-index: 1000;
  font-size: 1.5rem;
}
/* line 15, sass/zooslides.scss */
#slideshow .slidetext h2 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

/* line 39, sass/zooslides.scss */
.menu-modal.active {
  z-index: 1001;
}

@media (min-width: 576px) {
  /* line 47, sass/zooslides.scss */
  #slideshow > div {
    border-bottom: 5rem solid #fff;
  }
  /* line 50, sass/zooslides.scss */
  #slideshow .slidetext {
    bottom: -5rem;
    left: 5%;
  }
}
@media (min-width: 768px) {
  /* line 61, sass/zooslides.scss */
  #slideshow {
    height: 400px;
    min-height: 400px;
  }
  /* line 62, sass/zooslides.scss */
  #slideshow > div {
    min-height: 400px;
    height: 400px;
  }
  /* line 66, sass/zooslides.scss */
  #slideshow .slidetext {
    font-size: 1.7rem;
  }
  /* line 67, sass/zooslides.scss */
  #slideshow .slidetext h2 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  /* line 79, sass/zooslides.scss */
  #slideshow {
    height: 500px;
    min-height: 500px;
  }
  /* line 80, sass/zooslides.scss */
  #slideshow > div {
    min-height: 500px;
    height: 500px;
  }
  /* line 84, sass/zooslides.scss */
  #slideshow .slidetext {
    font-size: 2rem;
  }
  /* line 85, sass/zooslides.scss */
  #slideshow .slidetext h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  /* line 98, sass/zooslides.scss */
  #slideshow {
    height: 700px;
    min-height: 700px;
  }
  /* line 99, sass/zooslides.scss */
  #slideshow > div {
    min-height: 700px;
    height: 700px;
  }
  /* line 103, sass/zooslides.scss */
  #slideshow .slidetext {
    font-size: 2.5rem;
  }
  /* line 104, sass/zooslides.scss */
  #slideshow .slidetext h2 {
    font-size: 3.5rem;
  }
}
